<footer role="contentinfo" class="region base-invert reset-vertical-gap">
    <div class="container">
        <div class="footer-container">
            <div class="watermark">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013. All rights reserved.</div>
        </div>
    </div>
</footer>