<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Suave - Minimalist Business Theme for Bootstrap | Single Post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
        <meta name="description" content="Minimalist Business Theme for Bootstrap">
        <meta name="author" content="Aestik">
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="assets/css/base-colorscheme.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <!-- <HTML5>shim, for IE6-8 support of HTML5 elements </HTML5>-->
        <!--[if lt IE 9]>
            <script src="assets/js/vendor/html5shiv.js"></script>
        <![endif]-->
    </head>
    
    <body class="suave">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an
                <strong>outdated</strong>browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a>or
                <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>to improve your experience.</p>
        <![endif]-->
        <header role="banner">
            <!-- NAVS -->
            <nav role="navigation" class="navbar navbar-default main-navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".nav-collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand">
                            <img src="assets/images/logo-small.png" alt="">Suave.</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown">
                                <a href="single-post-i.html" data-toggle="dropdown" role="button" class="dropdown-toggle">Home Pages<i class="icon-angle-down"></i>
                                </a>
                                <ul role="menu" class="dropdown-menu">
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 1</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 2</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 3</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 4</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 5</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 6</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 7</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 8</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 9</a>
                                    </li>
                                    <li>
                                        <a href="#" role="menuitem">Home Page 10</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Home Page 9</a>
                                    </li>
                                    <li>
                                        <a href="#" role="menuitem">Home Page 10</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">Sample Pages<i class="icon-angle-down"></i>
                                </a>
                                <ul role="menu" class="dropdown-menu">
                                    <li role="presentation">
                                        <a href="#" role="menuitem">About Us</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Services</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Our Team</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">FAQ</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Coming Soon Page</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Error 404</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Graph Statistics</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Pricing Tables</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Left Sidebar</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Right Sidebar</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#" role="menuitem">Both Sidebar</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="index.html">Features</a>
                            </li>
                            <li>
                                <a href="index.html">Portfolio</a>
                            </li>
                            <li>
                                <a href="index.html">Shop</a>
                            </li>
                            <li>
                                <a href="index.html">Shortcodes</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="index.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main-wrapper">
            <!-- CONTENT-->
            <!-- BREADCRUMBS-->
            <section id="breadcrumbs" class="region reset-vertical-gap widen-top-gap">
                <div class="container">
                    <ol class="breadcrumb">
                        <li>
                            <a href="http://">Home</a>
                        </li>
                        <li>
                            <a href="http://">Posts</a>
                        </li>
                        <li class="active">
                            <a href="http://">Climb leg rub face</a>
                        </li>
                    </ol>
                </div>
            </section>
            <!-- MAIN CONTENT AREA-->
            <section id="main-content-area" class="region reset-vertical-gap">
                <div class="site-content container-full">
                    <!-- MAIN CONTENT-->
                    <section id="main-content" role="main" class="full-width-post">
                        <!-- ARTICLE-->
                        <article class="post post-2-column">
                            <!-- THE POST-->
                            <div class="the-post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                                            <!-- POST FORMAT ICON-->
                                            <div class="post-meta-aside">
                                                <div class="post-format"><i class="icon-pushpin icon-post-format"></i>
                                                </div>
                                            </div>
                                            <!-- POST DATE & POST AUTHOR-->
                                            <div class="post-meta">
                                                <div class="post-date">
                                                    <span class="post-day">1</span>
                                                    <span class="post-month">September</span>
                                                    <span class="post-year">2013</span>
                                                </div>
                                                <div class="post-meta-dot-separator">.</div>
                                                <span class="post-author">
                                                    <a href="http://">John William Doe</a>
                                                </span>
                                            </div>
                                            <!-- POST TITLE-->
                                            <header>
                                                <h1>Climb leg rub face Veggies sunt bona vobis proinde vos black eyed pea garlic wattle.</h1>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                                <!-- FEATURED IMAGE-->
                                <div class="featured image">
                                    <img src="assets/images/blog.jpg" alt="blog image">
                                    <span class="post-image-caption">Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.</span>
                                </div>
                                <!-- POST CONTENT-->
                                <div class="post-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <!-- ABOUT THE AUTHOR & LEFT META INFOS-->
                                                <section class="in-post meta">
                                                    <h4 class="half-stretched">About The Author</h4>
                                                    <div class="meta content">
                                                        <div class="meta author">
                                                            <img src="assets/images/avatar.jpg" alt="avatar" class="author avatar small pull-left">
                                                            <div class="author name">John William Doe</div>
                                                            <br>
                                                            <p>Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage.</p>
                                                            <strong>Connect with John William Doe :</strong>
                                                            <br>
                                                            <div class="author social">
                                                                <a href=""><i class="icon-twitter"></i>
                                                                </a>
                                                                <a href=""><i class="icon-facebook"></i>
                                                                </a>
                                                                <a href=""><i class="icon-google-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <!-- POST CATEGORIES-->
                                                <section class="in-post meta">
                                                    <h4 class="half-stretched">Categories</h4>
                                                    <div class="meta content">
                                                        <p class="meta taxonomy">
                                                            <a href="http://">Tooklit</a>
                                                            <a href="http://">Photography</a>
                                                            <a href="http://">ridiculus</a>
                                                        </p>
                                                    </div>
                                                </section>
                                                <!-- POST TAGS-->
                                                <section class="in-post meta">
                                                    <h4 class="half-stretched">Tags</h4>
                                                    <div class="meta content">
                                                        <p class="meta taxonomy">
                                                            <a href="http://">aliquet</a>
                                                            <a href="http://">imperdiet</a>
                                                            <a href="http://">fringilla</a>
                                                            <a href="http://">justo</a>
                                                            <a href="http://">ligula</a>
                                                            <a href="http://">Donec</a>
                                                        </p>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <p>Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage. Caulie courgette garbanzo corn yarrow peanut bell pepper broccoli sierra leone bologi gumbo. Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.</p>
                                                <p>Turnip greens napa cabbage potato taro tatsoi black-eyed pea bamboo shoot chickweed cauliflower turnip radicchio wakame sweet pepper kale rutabaga swiss chard. Broccoli rabe parsnip groundnut salad coriander onion plantain tomatillo gumbo. Kale squash yarrow winter purslane arugula celery swiss chard lentil watercress celtuce. Garlic broccoli rabe summer purslane grape kakadu plum sea lettuce pea bamboo shoot courgette silver beet pumpkin soko catsear kale zucchini prairie turnip lentil radicchio. Cress welsh onion burdock courgette salad jícama lettuce caulie endive mustard kale lotus root beet greens bunya nuts sorrel. Chard kohlrabi radicchio cauliflower garbanzo quandong coriander chickweed zucchini shallot bok choy pumpkin bush tomato salsify burdock water chestnut sea lettuce green bean. Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad. Endive artichoke broccoli rabe daikon komatsuna bok choy tomatillo turnip radish rock melon. Mustard fava bean lettuce catsear bunya nuts onion water spinach rock melon scallion kale mustard spinach soybean. Caulie endive rutabaga fava bean sierra leone bologi leek chicory okra cucumber bitterleaf gram lotus root plantain napa cabbage lettuce.</p>
                                                <h3>Tomato summer purslane beetroot</h3>
                                                <p>Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.</p>
                                                <p>Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.</p>
                                                <p>Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.</p>
                                                <p>Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.</p>
                                                <p>Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.</p>
                                                <p>Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <!-- SHARE POSTS-->
                                                <section class="in-post meta">
                                                    <h4 class="half-stretched">Share this post</h4>
                                                    <div class="meta content">
                                                        <div class="meta social">
                                                            <a href=""><i class="icon-twitter"></i>
                                                            </a>
                                                            <a href=""><i class="icon-facebook"></i>
                                                            </a>
                                                            <a href=""><i class="icon-google-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </section>
                                                <!-- COMMENTS & RIGHT META INFOS-->
                                                <section class="in-post meta">
                                                    <h4 class="half-stretched">Comments
                                                        <div class="add comment">
                                                            <a href=""> <i class="icon-plus"></i>
                                                            </a>
                                                        </div>
                                                    </h4>
                                                    <div class="meta content comment">
                                                        <!-- COMMENT ITEM-->
                                                        <div class="comment item">
                                                            <img src="assets/images/avatar.jpg" alt="avatar" class="comment avatar small pull-left">
                                                            <div class="comment head">
                                                                <div class="author name">
                                                                    <a href="">John William Doe</a>
                                                                </div>
                                                                <div class="comment date">1 January 2013</div>
                                                                <div class="reply comment">
                                                                    <a href=""> <i class="icon-reply"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="comment content">Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad.</div>
                                                        </div>
                                                        <!-- COMMENT ITEM-->
                                                        <div class="comment item">
                                                            <img src="assets/images/avatar.jpg" alt="avatar" class="comment avatar small pull-left">
                                                            <div class="comment head">
                                                                <div class="author name">
                                                                    <a href="">David Goliath</a>
                                                                    <span class="comment replied to">in reply to John William Doe</span>
                                                                </div>
                                                                <div class="comment date">1 January 2013</div>
                                                                <div class="reply comment">
                                                                    <a href=""> <i class="icon-reply"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="comment content">Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum.</div>
                                                        </div>
                                                        <!-- COMMENT ITEM-->
                                                        <div class="comment item">
                                                            <img src="assets/images/avatar.jpg" alt="avatar" class="comment avatar small pull-left">
                                                            <div class="comment head">
                                                                <div class="author name">
                                                                    <a href="">Keith Awesome</a>
                                                                </div>
                                                                <div class="comment date">1 January 2013</div>
                                                                <div class="reply comment">
                                                                    <a href=""> <i class="icon-reply"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="comment content">Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon.</div>
                                                        </div>
                                                        <a href="http://" class="read all comment">Read all comments&nbsp;<i class="icon-angle-right"></i>
                                                        </a>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </section>
            <!-- Footer Widgets-->
            <aside role="complementary" class="region footer-widgets base-invert">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <section class="panel panel-default widget">
                                <header class="panel-heading"><i class="icon-info icon-widget-heading"></i>

                                    <h2 class="widget-heading">About Us</h2>
                                </header>
                                <div class="panel-body">
                                    <p>Suave is a Minimalist Business Theme for Bootstrap. Built with simplicity and flexibility in mind. Perfect for various business needs.</p>
                                    <address>
                                        <strong>Twitter, Inc.</strong>
                                        <br/>795 Folsom Ave, Suite 600
                                        <br/>San Francisco, CA 94107
                                        <br/>
                                        <abbr title="Phone">Ph:</abbr>
                                        <a href="tel:123-4567890">123-4567890</a>
                                    </address>
                                    <address>
                                        <strong>Full Name</strong>
                                        <br/>
                                        <a href="mailto:#">first.last@example.com</a>
                                    </address>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                            <section class="panel panel-default widget widget_categories">
                                <header class="panel-heading"><i class="icon-list icon-widget-heading"></i>

                                    <h2 class="widget-heading">Categories</h2>
                                </header>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="icon-desktop"></i>Web Design</a>
                                            <span class="count">5</span>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-circle-blank"></i>Technology</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-circle-blank"></i>Science &amp; Fiction</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-paste"></i>Development</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-double-angle-up"></i>Web Development</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-screenshot"></i>App Development</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-file-text-alt"></i>Augmented Reality</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-circle-blank"></i>Interface Design</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="icon-circle-blank"></i>Artificial Intelligent</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
                            <section class="panel panel-default widget widget_nav_menu">
                                <header class="panel-heading"><i class="icon-link icon-widget-heading"></i>

                                    <h2 class="widget-heading">Link</h2>
                                </header>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="#">Web Design</a>
                                        </li>
                                        <li>
                                            <a href="#">Technology</a>
                                        </li>
                                        <li>
                                            <a href="#">Science &amp; Fiction</a>
                                        </li>
                                        <li>
                                            <a href="#">Development</a>
                                        </li>
                                        <li>
                                            <a href="#">Web Development</a>
                                        </li>
                                        <li>
                                            <a href="#">App Development</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <section class="panel panel-default widget">
                                <header class="panel-heading"><i class="icon-envelope-alt icon-widget-heading"></i>

                                    <h2 class="widget-heading">Join Our Newsletter</h2>
                                </header>
                                <div class="panel-body">
                                    <p>Get our monthly newsletter, Latest news &amp; buzz.</p>
                                    <p>
                                        <form id="" method="" action="" role="form" class="form-inline">
                                            <div class="form-group">
                                                <label for="subscribe-form" class="sr-only">Email Address</label>
                                                <input type="email" placeholder="Type your email here" id="subscribe-form" class="form-control input-sm" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                        </form>
                                    </p>
                                </div>
                            </section>
                            <section class="panel panel-default widget woocommerce widget_featured_products">
                                <header class="panel-heading"><i class="icon-star icon-widget-heading"></i>

                                    <h2 class="widget-heading">Woo Featured Products</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="product_list_widget">
                                        <li>
                                            <a href="http://">
                                                <img src="assets/images/porto3-thumb.jpg" alt="" />Woo Logo</a>
                                            <del>
                                                <span class="amount">$2000</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$18</span>
                                            </ins>
                                        </li>
                                        <li>
                                            <a href="http://">
                                                <img src="assets/images/porto3-thumb.jpg" alt="" />Premium Quality</a>
                                            <span class="from">From :</span>
                                            <del>
                                                <span class="amount">$2000</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$18</span>
                                            </ins>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!-- FOOTER-->
        <footer role="contentinfo" class="region base-invert reset-vertical-gap">
            <div class="container">
                <div class="footer-container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                            <div class="watermark">Copyright&copy; 2013 Suave.</div>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                            <ul class="footer-menu pull-right">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="index.html">Features</a>
                                </li>
                                <li>
                                    <a href="index.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="index.html">Shop</a>
                                </li>
                                <li>
                                    <a href="index.html">Shortcodes</a>
                                </li>
                                <li>
                                    <a href="index.html">Blog</a>
                                </li>
                                <li>
                                    <a href="index.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- JQUERY-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- JQUERY UI-->
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <!-- BOOTSTRAP -->
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <!-- WAYPOINTS-->
        <script src="assets/js/vendor/waypoints.min.js"></script>
        <!-- FLEXSLIDER -->
        <script src="assets/js/vendor/jquery.flexslider-min.js"></script>
        <!-- SUAVE -->
        <script src="assets/js/script.js"></script>
        <!-- LIVERELOAD, REMOVED IT LATER -->
        <script src="http://localhost:35729/livereload.js"></script>
    </body>

</html>