//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap | Single Post

//- content
block content
    // BREADCRUMBS
    section#breadcrumbs.region.reset-vertical-gap.widen-top-gap
        .container
            ol.breadcrumb
                li 
                    a(href="http://") Home
                li 
                    a(href="http://") Posts
                li.active 
                    a(href="http://") Climb leg rub face

    // MAIN CONTENT AREA
    section#main-content-area.region.reset-vertical-gap
        .site-content.container-full

            // MAIN CONTENT
            section#main-content(role="main").full-width-post

                // ARTICLE
                article.post.post-2-column

                    // THE POST
                    .the-post
                        .container
                            .row 
                                .col-lg-8.col-md-8.col-sm-12.col-xs-12.col-md-offset-2
                                    // POST FORMAT ICON
                                    .post-meta-aside 
                                        .post-format
                                            i.icon-pushpin.icon-post-format

                                    // POST DATE & POST AUTHOR
                                    .post-meta 
                                        .post-date
                                            span.post-day 1 
                                            span.post-month September
                                            span.post-year 2013
                                        .post-meta-dot-separator 
                                            | .
                                        span.post-author
                                            a(href="http://") John William Doe

                                    // POST TITLE
                                    header
                                        h1 Climb leg rub face Veggies sunt bona vobis proinde vos black eyed pea garlic wattle.

                        // FEATURED IMAGE
                        .featured.image
                            img(src="assets/images/blog.jpg", alt="blog image")
                            span.post-image-caption Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.

                        // POST CONTENT
                        .post-content
                            .container
                                .row
                                    .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                        // ABOUT THE AUTHOR & LEFT META INFOS
                                        section.in-post.meta
                                            h4.half-stretched About The Author
                                            div.meta.content
                                                .meta.author
                                                    img.author.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                    .author.name
                                                        | John William Doe
                                                    br
                                                    p 
                                                        | Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage.
                                                    strong Connect with John William Doe :
                                                    br 
                                                    .author.social
                                                        a(href="")
                                                            i.icon-twitter
                                                        a(href="")
                                                            i.icon-facebook
                                                        a(href="")
                                                            i.icon-google-plus
                                        // POST CATEGORIES
                                        section.in-post.meta
                                            h4.half-stretched Categories
                                            div.meta.content
                                                p.meta.taxonomy
                                                    a(href="http://") Tooklit
                                                    a(href="http://") Photography
                                                    a(href="http://") ridiculus

                                        // POST TAGS
                                        section.in-post.meta
                                            h4.half-stretched Tags
                                            div.meta.content
                                                p.meta.taxonomy
                                                    a(href="http://") aliquet
                                                    a(href="http://") imperdiet
                                                    a(href="http://") fringilla
                                                    a(href="http://") justo
                                                    a(href="http://") ligula
                                                    a(href="http://") Donec

                                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                        p 
                                            | Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage. Caulie courgette garbanzo corn yarrow peanut bell pepper broccoli sierra leone bologi gumbo. Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.
                                        p
                                            | Turnip greens napa cabbage potato taro tatsoi black-eyed pea bamboo shoot chickweed cauliflower turnip radicchio wakame sweet pepper kale rutabaga swiss chard. Broccoli rabe parsnip groundnut salad coriander onion plantain tomatillo gumbo. Kale squash yarrow winter purslane arugula celery swiss chard lentil watercress celtuce. Garlic broccoli rabe summer purslane grape kakadu plum sea lettuce pea bamboo shoot courgette silver beet pumpkin soko catsear kale zucchini prairie turnip lentil radicchio. Cress welsh onion burdock courgette salad jícama lettuce caulie endive mustard kale lotus root beet greens bunya nuts sorrel. Chard kohlrabi radicchio cauliflower garbanzo quandong coriander chickweed zucchini shallot bok choy pumpkin bush tomato salsify burdock water chestnut sea lettuce green bean. Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad. Endive artichoke broccoli rabe daikon komatsuna bok choy tomatillo turnip radish rock melon. Mustard fava bean lettuce catsear bunya nuts onion water spinach rock melon scallion kale mustard spinach soybean. Caulie endive rutabaga fava bean sierra leone bologi leek chicory okra cucumber bitterleaf gram lotus root plantain napa cabbage lettuce.
                                        h3 Tomato summer purslane beetroot
                                        p 
                                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                                        p
                                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.
                                        p 
                                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                                        p
                                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.
                                        p 
                                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                                        p
                                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.
                                    
                                    .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                        // SHARE POSTS
                                        section.in-post.meta
                                            h4.half-stretched Share this post
                                            div.meta.content
                                                div.meta.social
                                                    a(href="")
                                                        i.icon-twitter
                                                    a(href="")
                                                        i.icon-facebook
                                                    a(href="")
                                                        i.icon-google-plus

                                        //- // RELATED POSTS
                                        //- section.in-post.meta
                                        //-     h4.half-stretched Related Posts
                                        //-     div.meta.content
                                        //-         ul.meta.list 
                                        //-             li 
                                        //-                 a(href="http://") Consectetuer adipiscing elit aenean commodo ligula eget
                                        //-             li 
                                        //-                 a(href="http://") Nulla consequat massa quis enim
                                        //-             li 
                                        //-                 a(href="http://") Caulie courgette garbanzo corn yarrow peanut 
                                        //-             li 
                                        //-                 a(href="http://") Broccoli rabe parsnip groundnut salad coriander
                                        //-             li 
                                        //-                 a(href="http://") Cress welsh onion burdock courgette salad jícama lettuce caulie endive

                                        // COMMENTS & RIGHT META INFOS
                                        section.in-post.meta
                                            h4.half-stretched 
                                                | Comments
                                                .add.comment
                                                    a(href="") 
                                                        i.icon-plus
                                            div.meta.content.comment
                                                // COMMENT ITEM
                                                .comment.item
                                                    img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                    .comment.head
                                                        .author.name
                                                            a(href="") 
                                                                | John William Doe
                                                        .comment.date
                                                            | 1 January 2013
                                                        .reply.comment 
                                                            a(href="") 
                                                                i.icon-reply

                                                    .comment.content
                                                        | Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad.

                                                // COMMENT ITEM
                                                .comment.item
                                                    img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                    .comment.head
                                                        .author.name
                                                            a(href="") 
                                                                | David Goliath 
                                                            span.comment.replied.to
                                                                | in reply to John William Doe
                                                        .comment.date
                                                            | 1 January 2013
                                                        .reply.comment 
                                                            a(href="") 
                                                                i.icon-reply

                                                    .comment.content
                                                        | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum.

                                                // COMMENT ITEM
                                                .comment.item
                                                    img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                    .comment.head
                                                        .author.name
                                                            a(href="") 
                                                                | Keith Awesome
                                                        .comment.date
                                                            | 1 January 2013
                                                        .reply.comment 
                                                            a(href="") 
                                                                i.icon-reply

                                                    .comment.content
                                                        | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon.

                                                a.read.all.comment(href="http://") 
                                                    | Read all comments&nbsp;
                                                    i.icon-angle-right

    // Footer Widgets
    aside.region.footer-widgets.base-invert(role="complementary")
        .container
            .row
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-about
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-categories
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-link
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-newsletter 
                    mixin widget-woo-featured-products