// -----------------------------------------------------------------
// * [Footer Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

footer {
    font-size: @body-fz-xs;
    text-align: center;
    .footer-container {
        padding-bottom: 20px;
        padding-top: 20px;
    }
} 