// -----------------------------------------------------------------
// * [Helper Classes]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

/* [Pad-Margin Classes]
-------------------------------------------------------------------*/

.pull-right {
    float: none !important;

    //*-----[Responsive 768++]-----*/
    @media screen and (min-width: 768px) {
        float: right !important;
    }
}

.pull-left {
    float: none !important;

    //*-----[Responsive 768++]-----*/
    @media screen and (min-width: 768px) {
        float: left !important;
    }
}