// -----------------------------------------------------------------
// * [Posts Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

.post {
    position: relative;
    header {
        // min-height: 90px;
        h1 {
            margin-top: 0px;
        }
    }

    img {
        max-width: 100%;

        margin-bottom: 10px;

        border-radius: @base-radius;
    }

    &.container {
        padding-bottom: 100px;
        padding-top: 70px;

        text-align: left;
    }

    &.icon {
        .inlineDisplay();
        background-color: @default-accent;

        left: -50px;
        position: absolute;
        top: 37px;

        padding: 10px;

        color: @default-background;
        font-size: @body-fz-md;

        border-radius: @base-radius;
    }

    &.meta {
        display: block;
    
        color: @muted-color;
        font-size: @body-fz-sm;
        
        span {
            .inlineDisplay();
        }
    }

    &.date {
        .inlineDisplay();

        font-size: @body-fz-xs;
    }

    &.item {
        &.nav {
            margin: 0px auto 30px;
            h3 {
                width: 80%;

                margin-left: auto;
                margin-right: auto;
                margin-top: 0px;

                font-size: @heading-1-fz;
                font-weight: 100;
                line-height: @line-height-xwide;
                a {
                    color: @default-background;
                    &:hover {
                        color: @invert-background;
                    }
                }
            }
            p {
                width: 60%;

                margin-left: auto;
                margin-right: auto;

                color: lighten(@default-accent, 30%);
                line-height: @line-height-med;
            }

            .date {
                color: lighten(@default-accent, 30%);
            }
        }
    }

    .avatar {
        &.small {
            height: 40px;
            width: 40px;
            
            margin-bottom: 0px;
            margin-right: 10px;
        }
    }

    &.excerpt {
        &.container {
            background-color: @default-background;

            max-width: 100%;

            padding: 50px 200px;
            margin-bottom: 20px;

            font-weight: normal;
            a {
                color: @heading-color;
                &:hover {
                    color: @default-accent;
                }
            }
        }
    }
}

.in-post {
    &.meta {
        position: relative;
        .meta {
            &.content {
                margin-top: 20px;

                font-size: @body-fz-sm;
                font-style: italic;
                line-height: @line-height-base;
            }
        }
        margin-bottom: 30px;
        .author {
            &.name {
                .inlineDisplay();

                margin-bottom: 5px;
                margin-top: -5px;

                color: @heading-color;
                font-size: @body-fz-sm;
                font-style: normal;
                font-weight: 700;
                a {
                    color: @heading-color;
                    &:hover {
                        color: @default-accent;
                    }
                }
            }
        }
        .taxonomy {
            a {
                margin-right: 5px;
            }
        }
    }
    .social {
        a {
            margin-right: 10px;
            i {
                font-size: 14px;
            }
        }
    }
    p {
        margin-bottom: 10px;
    }

    a {
        color: @default-text;
        &:hover {
            color: @default-accent;
        }
    }
}

.featured {
    &.image {
        margin-bottom: 20px;
        img {
            border-radius: 0px;
        }
    }
}

.pagination {
    display: block;

    position: relative;

    font-size: @body-fz-sm;

    > a {
        border: 1px solid lighten(@default-accent, 20%);

        position: absolute;
        top: 0px;

        padding-left: 10px;
        padding-right: 10px;

        color: @default-background;

        border-radius: @base-radius;

        &:hover {
            border-color: @invert-background;

            color: @invert-background;
        }

        &.older-posts {
            right: 0px;
        }

        &.newer-posts {
            left: 0px;
        }
    }

    .page-number {
        color: lighten(@default-accent, 30%);
    }
}

.pagination {
    margin-bottom: 0px;
    margin-top: 0px;

    &.holder {
        background-color: @default-accent;

        padding: 50px 0;

        color: @default-background;
        text-align: center;
        a.newer-posts {
            left: 200px;
        }
        a.older-posts {
            right: 200px;
        }
    }
}

