// -----------------------------------------------------------------
// * [Text & Typography Styles]
// * 
// * @project Suave Ghost Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------


/* [Divider Used in drop nav]
-------------------------------------------------------------------*/
.content.divider {
    border-bottom: 1px solid lighten(@default-accent,10%);

    position: relative;

    height: 1px;

    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    .stretched,
    * {
        .inlineDisplay();
        
        background-color: lighten(@default-accent, 25%);
        
        position: relative;
        top: -43px;
        
        padding: 5px 10px 5px 20px;
        
        color: @default-accent;
        text-align: center;

        border-radius: @base-radius;
    }

    //*-----[Responsive 600++]-----*/
    @media screen and (min-width: 600px) {
        width: 60%;
    }
}

/* [Typo Modifiers and Helpers]
-------------------------------------------------------------------*/
.stretched,
.half.stretched {
    font-family: @font-3;
    font-size: @body-fz-sm;
    font-weight: 700;
    text-transform: uppercase;
}

.stretched {
    letter-spacing: 10px; 
}

.half.stretched {
    letter-spacing: 5px; 
}

.capitalized {
    font-family: @font-3;
    font-size: @heading-6-fz;
    text-transform: uppercase; 
}

.sub-headline {
    color: @heading-color;
    font-size: @body-fz-xl+2;
    font-family: @font-2;
    font-weight: 300;
    line-height: @line-height-wide+4;

    //*-----[Responsive 768++]-----*/
    @media screen and (min-width: 768px) {
        font-size: @body-fz-xl+2;
    }
}

.caption {
    color: @muted-color;
    font-size: @body-fz-sm;
    font-style: italic;
}

.centered {
    text-align: center;
}

/* [Quotes]
-------------------------------------------------------------------*/
blockquote {
    p {
        .quotes(@heading-color, @default-text, @font-2, @font-1, @body-fz-lg, @body-fz-df, @line-height-med, @line-height-base, 10px, italic);
    }
}