// -----------------------------------------------------------------
// * [LESS Variables]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// *
// * @todo :
// *    1. lengkapi font-family stack
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

// [Typography Variables]
// ------------------------------------------------------------------
@font-1                         : "Noto Sans";
@font-2                         : "Roboto Slab";
@font-3                         : "Maven Pro";
@heading-color                  : #444444;
@muted-color                    : #A0A0A0;

//*-----[Body Font-sizes]-----*/
@body-fz-ul                     : 24px;
@body-fz-vl                     : 20px;
@body-fz-xl                     : 18px;
@body-fz-lg                     : 16px;
@body-fz-md                     : 14px;
@body-fz-df                     : 13px;
@body-fz-sm                     : 12px;
@body-fz-xs                     : 11px;
@body-fz-us                     : 10px;

//*-----[Heading Font-sizes]-----*/
@heading-hero-fz                : 60px;
@heading-1-fz                   : 48px;
@heading-2-fz                   : 30px;
@heading-3-fz                   : 21px;
@heading-4-fz                   : 18px;
@heading-5-fz                   : 16px;
@heading-6-fz                   : 14px;

//*-----[Letter Spacing sizes]-----*/
@ls-xn                          : -2.0px;
@ls-nr                          : -1.0px;
@ls-nm                          : 0px;
@ls-wd                          : 1px;
@ls-xw                          : 2px;
@ls-uw                          : 5px;

//*-----[Line Height Sizes]-----*/
@line-height-xnarrow            : 10px;
@line-height-narrow             : 15px;
@line-height-base               : 20px;
@line-height-med                : 25px;
@line-height-wide               : 30px;
@line-height-xwide              : 54px;
@line-height-uwide              : 100px;

// [Palettes]
// ------------------------------------------------------------------

//*-----[Default]-----*/
@default-background             : #fff;
@default-text                   : #7c7c7c;
@default-accent                 : #eb6f63;

//*-----[Secondary]-----*/
@secondary-background           : #47c9af;
@secondary-text                 : #ffffff;
@secondary-accent               : #044639;

//*-----[Tertiary]-----*/
@tertiary-background            : #467175;
@tertiary-text                  : #e4f3f4;
@tertiary-accent                : #46ede2;

//*-----[quaternary]-----*/
@quaternary-background          : #ffe5cd;
@quaternary-text                : #917052;
@quaternary-accent              : #e45b36;

//*-----[Invert]-----*/
@invert-background              : #3b434c;
@invert-text                    : #c3ccd7;
@invert-accent                  : #88aaff;

//*-----[Greyscale]-----*/
@greyscale-background           : #f8f8f8;
@greyscale-text                 : #7c7c7c;
@greyscale-accent               : #444444;


// [Form]
// ------------------------------------------------------------------
@input-border                   : #dddddd;
@input-background               : #dddddd;
@input-border-focus             : #999999;
@input-background-focus         : #ffffff;


// [Button Colorscheme]
// ------------------------------------------------------------------
@btn-text                       : #444444;
@btn-default                    : #444444;
@btn-primary                    : #ff7755;
@btn-info                       : #3d9fe4;
@btn-success                    : #87ac24;
@btn-warning                    : #f69f24;
@btn-danger                     : #e50808;
@btn-inverse                    : #a5a5a5;
@btn-link                       : #ff7755;

@secondary-btn-default          : @secondary-accent;
@secondary-btn-primary          : @secondary-accent;
@secondary-btn-success          : #94f871;
@secondary-btn-info             : #037fb2;
@secondary-btn-warning          : #fee4a6;
@secondary-btn-danger           : #a32323;
@secondary-btn-link             : @secondary-accent;
@secondary-btn-inverse          : #fff;

@tertiary-btn-default           : #081011;
@tertiary-btn-primary           : @tertiary-accent;
@tertiary-btn-success           : #48c064;
@tertiary-btn-info              : #42b0e9;
@tertiary-btn-warning           : #f5ca65;
@tertiary-btn-danger            : #fa8383;
@tertiary-btn-link              : @tertiary-accent;
@tertiary-btn-inverse           : #fff;

@quaternary-btn-default         : #a19080;
@quaternary-btn-primary         : @quaternary-accent;
@quaternary-btn-success         : #84b010;
@quaternary-btn-info            : #1d8ad7;
@quaternary-btn-warning         : #c98000;
@quaternary-btn-danger          : #fc0507;
@quaternary-btn-link            : @quaternary-accent;
@quaternary-btn-inverse         : #a5a5a5;

@invert-btn-default             : #818e9d;
@invert-btn-primary             : @invert-accent;
@invert-btn-success             : #84b010;
@invert-btn-info                : #1d8ad7;
@invert-btn-warning             : #c98000;
@invert-btn-danger              : #fc0507;
@invert-btn-link                : @invert-accent;
@invert-btn-inverse             : #101316;

// [Others]
// ------------------------------------------------------------------
@base-radius                    : 3px;

