//- 
    =====================================================================
    * Footer Partial
    *
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================
footer(role="contentinfo").region.base-invert.reset-vertical-gap
    .container
        .footer-container
            .row
                .col-md-4.col-lg-4.col-sm-4.col-xs-12
                    .watermark
                        | Copyright&copy; 2013 Suave.
                .col-md-8.col-lg-8.col-sm-8.col-xs-12
                    ul.footer-menu.pull-right
                        li 
                            a(href='index.html') Home
                        li 
                            a(href='index.html') Features
                        li 
                            a(href='index.html') Portfolio
                        li 
                            a(href='index.html') Shop
                        li 
                            a(href='index.html') Shortcodes
                        li 
                            a(href='index.html') Blog
                        li 
                            a(href='index.html') Contact
// JQUERY
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
// JQUERY UI
script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
// BOOTSTRAP 
script(src='assets/js/vendor/bootstrap.min.js')
// WAYPOINTS
script(src='assets/js/vendor/waypoints.min.js')
// FLEXSLIDER 
script(src='assets/js/vendor/jquery.flexslider-min.js')
// SUAVE 
script(src='assets/js/script.js')
// LIVERELOAD, REMOVED IT LATER 
script(src="http://localhost:35729/livereload.js")