//- 
    =====================================================================
    * Navbar Partial
    *
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================
    
nav.navbar.navbar-default.main-navigation(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='index.html') 
                img(src="assets/images/logo-small.png", alt="")
                | Suave.
        .collapse.navbar-collapse
            ul.nav.navbar-nav.pull-right
                li.dropdown
                    a.dropdown-toggle(href='single-post-i.html', data-toggle='dropdown', role="button")
                        | Home Pages
                        i.icon-angle-down
                    ul.dropdown-menu(role="menu")
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 1
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 2
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 3
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 4
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 5
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 6
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 7
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 8
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 9
                        li
                            a(href='#', role="menuitem") Home Page 10
                        li.divider(role="presentation")
                        li(role="presentation")
                            a(href='#', role="menuitem") Home Page 9
                        li
                            a(href='#', role="menuitem") Home Page 10
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role="button")
                        | Sample Pages
                        i.icon-angle-down
                    ul.dropdown-menu(role="menu")
                        li(role="presentation")
                            a(href='#', role="menuitem") About Us
                        li(role="presentation")
                            a(href='#', role="menuitem") Services
                        li(role="presentation")
                            a(href='#', role="menuitem") Our Team
                        li(role="presentation")
                            a(href='#', role="menuitem") FAQ
                        li(role="presentation")
                            a(href='#', role="menuitem") Coming Soon Page
                        li(role="presentation")
                            a(href='#', role="menuitem") Error 404
                        li(role="presentation")
                            a(href='#', role="menuitem") Graph Statistics
                        li(role="presentation")
                            a(href='#', role="menuitem") Pricing Tables
                        li(role="presentation")
                            a(href='#', role="menuitem") Left Sidebar
                        li(role="presentation")
                            a(href='#', role="menuitem") Right Sidebar
                        li(role="presentation")
                            a(href='#', role="menuitem") Both Sidebar
                li.active
                    a(href='index.html') Features
                li 
                    a(href='index.html') Portfolio
                li 
                    a(href='index.html') Shop
                li 
                    a(href='index.html') Shortcodes
                li 
                    a(href='blog.html') Blog
                li 
                    a(href='index.html') Contact
