//- 
    =====================================================================
    * Page Title Mixins
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

mixin page-title(title)
    section.page-title(style='background-image: url(assets/images/bg-posts.jpg); background-attachment: fixed; background-size:cover; background-position: center')
            div.cover-overlay
                 header.copy-center.container.narrow
                    ol.breadcrumb
                        li 
                            a(href="http://") Home
                        li 
                            a(href="http://") Posts
                        li.active 
                            a(href="http://") Climb leg rub face
                    h1 #{title}